:root {
    --app-background-color: #FFFFFF;
    --dynamic-header-color: rgb(224, 235, 232);
    --dynamic-subtitle-color: #4a4a4a;
}

[theme="dark"] {
    --app-background-color: #091A28;
    --dynamic-header-color: red;
    --dynamic-subtitle-color: cyan;
}