:root {
    --app-background-color: white;
    --app-background-text-color: black;
    --dynamic-header-color: black;
    --dynamic-header-text-color: white;
    --dynamic-subtitle-color: #caadad;
}

[theme="dark"] {
    --app-background-color: black;
    --app-background-text-color: white;
    --dynamic-header-color: white;
    --dynamic-header-text-color: black;
    --dynamic-subtitle-color: cyan;
}